{% extends 'base.html' %}
{% load static %}
{% load format %}
{% block content %}
    <section id="header-center-carousel-single" class="pt-150 pb-150 -dark text-center">
        <div class="carousel-single-nav owl-drag">
            <div class="item container text-center text-info">
                <img src="{% static "images/logo-pastor.jpg" %}" srcset="{% static "images/logo-pastor-2x.jpg" %} 2x "
                     alt="" class="screen img-circle">
                <h2 class="mb-50"><strong>Добро пожаловать</strong><br>в Евангельскую Церковь<br>города Барнаула</h2>
                <p class="mb-50">Мы очень рады, что вы зашли к нам на сайт.
                    Нам бы хотелось, чтобы вы присоединились к нашей церкви, как в реальности, так и онлайн.
                </p>
            </div>
        </div>
        <div class="bg" style="background-image: url('{% static "images/banner.png" %}');"></div>
    </section>
    <section id="counter-halfbg-timer" class="pt-md-125 pb-125 text-center light d-none">
        <div class="half-container-left"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-7 col-md-6 col-md-offset-6">
                    <h2 class="mb-30"><strong>Get 20% discount on your next purchase!</strong></h2>
                    <div class="row countdown" id="counter-halfbg-timer-countdown">
                        <div class="col-xs-6 col-lg-3">
                            <h2 class="mb-10"><span class="days">00</span></h2>
                            <h4>Days</h4>
                            <div class="col-md-sep"><span>:</span></div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <h2 class="mb-10"><span class="hours">00</span></h2>
                            <h4>Hours</h4>
                            <div class="col-md-sep"><span class="hidden-md">:</span></div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <h2 class="mb-10"><span class="minutes">00</span></h2>
                            <h4>Minutes</h4>
                            <div class="col-md-sep"><span>:</span></div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <h2 class="mb-10"><span class="seconds">00</span></h2>
                            <h4>Seconds</h4>
                        </div>
                    </div>
                    <p>Emotions that causes your project in visitor are no less important ticket to success. Modern
                        solutions, interesting elements, unique approach to details make this template recognizable and
                        interesting. </p>
                    <a href="#"
                       class="btn btn-lg btn-primary mt-40"><span><strong>Get discount for Free!</strong></span></a>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </section>
    <section id="tabs" class="text-center dark">
        <div class="container-fluid">
            <div class="row no-side-pad no-pad">
                <div class="col-md-3 col-sm-6">
                    <div class="card light f-nar">
                        <img src="{% static "images/card-bg-1.jpg" %}" class="card-img" alt="">
                        <div class="card-img-overlay-center bg-60-l mx-20">
                            <ul class="tabs-ul-ub">
                                <li>Болезни</li>
                                <li>Наследственные, душевные, приобретённые</li>
                                <li>Более 1000 уже исцелены</li>
                            </ul>
                        </div>
                        <div class="card-img-overlay">
                            <h2 class="u-b">ПОЛУЧИ СВОЁ ИСЦЕЛЕНИЕ</h2>
                        </div>

                        <div class="card-img-overlay-bottom">
                            <p class="u-b">Облегчи свою жизнь!</p>
                            <a class="btn btn-primary btn-xs" href="/healing"><span
                                    class="h4 u-b">Узнать больше</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card light f-nar">
                        <img src="{% static "images/card-bg-2.jpg" %}" class="card-img" alt="">
                        <div class="card-img-overlay-center bg-60-l px-20">
                            <ul class="tabs-ul-ub">
                                <li>Продуктовые пакеты и одежда</li>
                                <li>3000 людей уже получили поддержку</li>
                            </ul>
                        </div>
                        <div class="card-img-overlay">
                            <h2 class="u-b">СОЦИАЛЬНАЯ ПОМОЩЬ</h2>
                        </div>
                        <div class="card-img-overlay-bottom">
                            <p class="u-b">Один шаг и Ваша семья накормлена и одета!</p>
                            <a class="btn btn-primary btn-xs" href="/social"><span
                                    class="h4 u-b">Узнать больше</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card light f-nar">
                        <img src="{% static "images/card-bg-3.jpg" %}" class="card-img" alt="">
                        <div class="card-img-overlay-center bg-60-l px-20">
                            <ul class="tabs-ul-ub">
                                <li>Опытный специалист с практикой 14 лет</li>
                                <li>Бесплатная консультация</li>
                                <li>Практично, комфортно и результативно</li>
                            </ul>
                        </div>
                        <div class="card-img-overlay">
                            <h2 class="u-b">СЕМЕЙНЫЙ ПСИХОЛОГ</h2>
                        </div>
                        <div class="card-img-overlay-bottom">
                            <p class="u-b">Десятки семей решили свои проблемы!</p>
                            <a class="btn btn-primary btn-xs" href="/psycholog"><span
                                    class="h4 u-b">Узнать больше</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card light">
                        <img src="{% static "images/card-bg-4.jpg" %}" class="card-img" alt="">
                        <div class="card-img-overlay-center bg-60-l px-20">
                            <ul class="tabs-ul-ub">
                                <li>Решение долговых обязательств</li>
                                <li>Профессиональная консультация</li>
                                <li>Увеличение бюджета</li>
                            </ul>
                        </div>
                        <div class="card-img-overlay">
                            <h2 class="u-b">ФИНАНСОВАЯ ПОМОЩЬ</h2>
                        </div>
                        <div class="card-img-overlay-bottom">
                            <p class="u-b">Завершение вашего кризиса!</p>
                            <a class="btn btn-primary btn-xs" href="/finance"><span class="h4 u-b">Узнать больше</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </section>
    <section id="reviews" class="text-center dark">
        <div class="container-fluid no-side-pad">
            <h2 class="mb-25 mt-50">Отзывы</h2>
            <div class="gallery row no-pad">
                <div class="col-md-4">
                    <div class="item video-iframe embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="640" height="360"
                                src="https://www.youtube.com/embed/V3x1CPGMSbA" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="item video-iframe embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="640" height="360"
                                src="https://www.youtube.com/embed/IocFgqL8dAo" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item video-iframe embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="640" height="360"
                                src="https://www.youtube.com/embed/LuQEjIP1QQE" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <!--                    <div class="item video-iframe embed-responsive embed-responsive-16by9">-->
                    <!--                        <iframe class="embed-responsive-item" width="640" height="360"-->
                    <!--                                src="https://www.youtube.com/embed/uBIV_8nt3lg" frameborder="0"-->
                    <!--                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                    <!--                                allowfullscreen></iframe>-->
                    <!--                    </div>-->
                </div>
                <div class="col-md-4">
                    <div class="item video-iframe embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="640" height="360"
                                src="https://www.youtube.com/embed/uBIV_8nt3lg" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <!--                    <div class="item video-iframe embed-responsive embed-responsive-16by9">-->
                    <!--                        <iframe class="embed-responsive-item" width="640" height="360"-->
                    <!--                                src="https://www.youtube.com/embed/9dbVY2At3Ng" frameborder="0"-->
                    <!--                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                    <!--                                allowfullscreen></iframe>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </section>
    <section id="team" class="pt-75 pb-75 dark text-center">
        <div class="container">
            <h2>Команда - это ядро церкви</h2>
            <h4>Стать частью команды значит отправиться в великое путешествие. Это действительно большая радость и
                удовлетворение обнаруживать таланты, которые Дух Святой дал вам, и как хорошо они сочетаются с талантами
                и умениями других людей.</h4>
            <img class="card-img mb-50" src="{% static "images/team.jpg" %}" srcset="{% static "images/team.jpg" %} 2x"
                 alt="team">
        </div>
        <div class="container-fluid no-side-pad">
            <h2 class="mb-75">Ключевые служители</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-3item-nav-marg gallery owl-drag">
                        {% for minister in ministers %}
                            <div class="card item gallery-style-4">
                                <div class="card-block-hover">
                                    <div class="card-img-overlay-center card-img-overlay-bg">
                                        <ul class="social-list">
                                            {% if minister.social_page %}
                                                <li><a href="{{ minister.social_page }}" target="_blank"><i
                                                        class="icon-link2 icon-size-m"></i></a></li>
                                            {% endif %}
                                            {% if minister.social_vk %}
                                                <li><a href="{{ minister.social_vk }}" target="_blank"><i
                                                        class="icon-vk icon-size-m"></i></a></li>
                                            {% endif %}
                                            {% if minister.social_fb %}
                                                <li><a href="{{ minister.social_fb }}" target="_blank"><i
                                                        class="icon-facebook icon-size-m"></i></a></li>
                                            {% endif %}
                                            {% if minister.social_ok %}
                                                <li><a href="{{ minister.social_ok }}" target="_blank"><i
                                                        class="icon-odnoklassniki icon-size-m"></i></a></li>
                                            {% endif %}
                                            {% if minister.social_inst %}
                                                <li><a href="{{ minister.social_inst }}" target="_blank"><i
                                                        class="icon-instagram icon-size-m"></i></a></li>
                                            {% endif %}
                                            {% if minister.social_youtube %}
                                                <li><a href="{{ minister.social_youtube }}" target="_blank"><i
                                                        class="icon-youtube22 icon-size-m"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <img class="img-circle" src="{{ minister.image.url }}"
                                         srcset="{{ minister.image2x.url }} 2x"
                                         alt="{{ minister.short_name }}">
                                </div>
                                <div class="card-block">
                                    <h3 class="mt-20 mb-0"><strong>{{ minister.name }}</strong></h3>
                                    <h4>{{ minister.function }}</h4>
                                    <p>{{ minister.about }}</p>
                                    <a href="tel:{{ minister.phone }}">{{ minister.phone|phone_format }}
                                        {% if minister.short_name %}{{ minister.short_name }}{% else %}
                                            {{ minister.name|name_format }}{% endif %}</a>
                                </div>
                            </div>
                        {% endfor %}
                        <!--                        <div class="card item gallery-style-4">-->
                        <!--                            <div class="card-block-hover">-->
                        <!--                                <div class="card-img-overlay-center card-img-overlay-bg">-->
                        <!--                                    <ul class="social-list">-->
                        <!--                                        <li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>-->
                        <!--                                        <li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>-->
                        <!--                                        <li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>-->
                        <!--                                        <li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>-->
                        <!--                                    </ul>-->
                        <!--                                </div>-->
                        <!--                                <img class="img-circle" src="images/s-evg_sel.jpg" srcset="images/s-evg_sel.jpg 2x"-->
                        <!--                                     alt="team">-->
                        <!--                            </div>-->
                        <!--                            <div class="card-block">-->
                        <!--                                <h3 class="mt-20 mb-0"><strong>Евгения Селиванова</strong></h3>-->
                        <!--                                <h4>Организатор досуга церкви</h4>-->
                        <!--                                <p>Ее способности позволяют организовывать невероятные мероприятия которые заряжают-->
                        <!--                                    людей на большие победы и подъем позитивных эмоций.</p>-->
                        <!--                                <a href="tel:+79132550523">8 (913) 255-05-23 Евгения</a>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="card item gallery-style-4">-->
                        <!--                            <div class="card-block-hover">-->
                        <!--                                <div class="card-img-overlay-center card-img-overlay-bg">-->
                        <!--                                    <ul class="social-list">-->
                        <!--                                        <li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>-->
                        <!--                                        <li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>-->
                        <!--                                        <li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>-->
                        <!--                                        <li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>-->
                        <!--                                    </ul>-->
                        <!--                                </div>-->
                        <!--                                <img class="img-circle" src="images/s-aleks.jpeg" srcset="images/s-aleks.jpeg 2x"-->
                        <!--                                     alt="team">-->
                        <!--                            </div>-->
                        <!--                            <div class="card-block">-->
                        <!--                                <h3 class="mt-20 mb-0"><strong>Алексей Спирков</strong></h3>-->
                        <!--                                <h4>Руководитель социального проекта «День милосердия»</h4>-->
                        <!--                                <p>Не оставит не одного человека без продуктов и одежды. Доброй души чуткого внимания к-->
                        <!--                                    людям служитель.</p>-->
                        <!--                                <a href="tel:+79835560830">8 (983) 556-08-30 Алексей</a>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </section>
    <section id="contacts" class="pt-150 pb-md-150 light">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <h2 class="mb-50">Расположение</h2>
                    <p class="mb-50">Служения проводятся каждое воскресение в 11:00. Проезд до остановки Чкалова
                        (Мед.институт).</p>
                    <ul class="text-icon-list">
                        <li><i class="icon-map2"></i><span>пр.Комсомольский, д.80, 2 этаж</span></li>
                        <li><i class="icon-phone-incoming"></i><span>8-960-959-43-32 Елена</span></li>
                        <!--                        <li><i class="icon-clock"></i><span>Our Work Hours</span></li>-->
                        <!--                        <li><i class="icon-at-sign"></i><span>Our Email</span></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div id="contact-map-text-map" class="half-container-left g-map light">
            <a class="dg-widget-link"
               href="http://2gis.ru/barnaul/firm/563478235285199/center/83.79126548767091,53.34487679280466/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                на карте Барнаула</a>
            <div class="dg-widget-link"><a
                    href="http://2gis.ru/barnaul/center/83.791331,53.343786/zoom/16/routeTab/rsType/bus/to/83.791331,53.343786╎Дом Милосердия, благотворительный фонд?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                проезд до Дом Милосердия, благотворительный фонд</a></div>
            <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
            <script charset="utf-8">new DGWidgetLoader({
                "width": '100%',
                "height": '100%',
                "borderColor": "#a3a3a3",
                "pos": {"lat": 53.34487679280466, "lon": 83.79126548767091, "zoom": 16},
                "opt": {"city": "barnaul"},
                "org": [{"id": "563478235285199"}]
            });</script>
            <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите
                его в настройках вашего браузера.
            </noscript>

        </div>
        <div class="bg"></div>
    </section>
{% endblock %}
